@font-face {
    font-family: 'sabotage' ;
    src: url('assets/sabotage.woff2') format('woff2');
    src: url('assets/sabotage.woff') format('woff');
}

@font-face {
    font-family: 'sabotage' ;
    src: url('assets/sabotage.woff2') format('woff2');
    src: url('assets/sabotage.woff') format('woff');
}

@font-face {
    font-family: 'sabotage' ;
    src: url('assets/sabotage.woff2') format('woff2');
    src: url('assets/sabotage.woff') format('woff');
}

@font-face {
    font-family: 'sabotage' ;
    src: url('assets/sabotage.woff2') format('woff2');
    src: url('assets/sabotage.woff') format('woff');
}
@font-face